__pycache__/
*.pyc
chrome_profile/
chrome_profile_pw/
downloads/
data/
.env
*.html
!chrome-extension/**/*.html
!privacy-policy.html
*.png
!chrome-extension/icons/*.png
debug_*
draft_*.json
my_template.json
.venv/
venv/
dist/
build/
*.spec
chromium_profile_pw/
